<%
    title('Columbo')
    description('既婚男性が友人や同僚によく「うちのカミさんがね…」とボヤくが、これはノロケ。その不思議な生態を集め、世の中に再発信し、夫婦仲をより良くしようというサービス。')

  %>

<div id="masonry_container">
  <div class="item col-md-4 col-xs-12" style="padding: 3px;">
      <div style="background-color: #EFEFEF; padding: 3px 15px;">
        <h1>Columbo</h1>
        <p>
        世の中の既婚男性は恥ずかしがり屋さん。 <br />
        <b>「うちのカミさんが…」</b>と友人や同僚によくボヤくが、それは実はノロケのこと。
        そんな不思議な生態を集め、世の中に発信することで、世間の夫婦仲をより良くしようという、サービスです。
        </p>
      </div>
  </div>
  <div class="item col-md-4 col-xs-12" style="padding: 3px;">
      <div style="background-color: #F9F9F9; padding: 3px 15px;">
        <h2>世の中の動向</h2>
        <p>
          昨日(<%= Date.yesterday %>)は「<%= PickupKeyword.best_of_yesterday.send(:pickup_keyword) %>」が一番でした。<br>
          一週間(<%= 8.days.ago.to_date %>〜)では「<%=  PickupKeyword.best_of_last_week.send(:pickup_keyword) %>」が一番でした。<br>
          <span class="pull-right"><%= link_to "詳細はこちら", pickup_tweets_per_day_path, class: "btn btn-default" %></span><br>
          <br>
        </p>
      </div>
  </div>
  <% @pickup_tweets.each do |pickup_tweet| %>
    <%= render 'shared/pickup_tweet', pickup_tweet: pickup_tweet %>
  <% end %>
</div>
<%= paginate @pickup_tweets %>
