<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Columbo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="dy-qhBEf0nxOzqFVaYlXvkv9ay36m165Sk-BsHFy3g8" /><%# google webmaster tools verification tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <span class="pull-right">
      <% if user_signed_in? %> 
        <%= link_to current_user.name, user_path %>
        <%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'twitterログイン', user_omniauth_authorize_path(:twitter) %>
        <%= link_to 'facebookログイン', user_omniauth_authorize_path(:facebook) %>
      <% end %>
    </span><br>

    <%= render 'shared/flash' %>

    <%= yield %>
  </div>
  <%= render 'shared/seo_scripts' %>
</body>
</html>
