<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield :title %></title>
  <meta name="desctription" content="<%= yield :desctiption %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="dy-qhBEf0nxOzqFVaYlXvkv9ay36m165Sk-BsHFy3g8" /><%# google webmaster tools verification tag %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 70px;">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Columbo', root_path, class: 'navbar-brand' %>
      </div>
      <div class="navbar-collapse collapse in" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %> 
            <li><%= link_to current_user.name, user_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, :method => :delete %></li>
            <% if current_user.admin? %><li><%= link_to '管理者', admin_path %></li><% end %>
          <% else %>
            <li><%= link_to 'twitterログイン', user_omniauth_authorize_path(:twitter) %></li>
            <li><%= link_to 'facebookログイン', user_omniauth_authorize_path(:facebook) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">

    <%= render 'shared/flash' %>

    <%= yield %>
  </div>
  <%= render 'shared/seo_scripts' %>
</body>
</html>
